<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5f32ed2e-d541-4897-bcb3-956137316cae/resourcegroups/hads1321/providers/Microsoft.Web/sites/GUI20210421023748</ResourceId>
    <ResourceGroup>hads1321</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gui20210421023748.azurewebsites.net/login.aspx</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gui20210421023748.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>HADS21-13</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GUI20210421023748</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="HADS-JorgeConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:jorgehads.database.windows.net,1433;Initial Catalog=HADS-Jorge;Persist Security Info=True;User ID=trabajo.jorge2000@gmail.com@jorgehads;Password=Marmota69" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:jorgehads.database.windows.net,1433;Initial Catalog=HADS-Jorge;Persist Security Info=True;User ID=trabajo.jorge2000@gmail.com@jorgehads;Password=Marmota69" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\HADS-JorgeConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=tcp:jorgehads.database.windows.net,1433;Initial Catalog=HADS-Jorge;Persist Security Info=True;User ID=trabajo.jorge2000@gmail.com@jorgehads;Password=Marmota69" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="HADS-JorgeConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:jorgehads.database.windows.net,1433;Initial Catalog=HADS-Jorge;Persist Security Info=True;User ID=trabajo.jorge2000@gmail.com@jorgehads;Password=Marmota69</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>